
@{
    ViewBag.Title = "TURIN, Italy";
    ViewBag.Subtitle = "It wasn't just a few disgruntled Juventus fans who stood.";
    ViewBag.Paragraph1 = "Sometimes when opposition fans ostentatiously laud an opponent, it can be something of a half-hearted protest against their own underperforming team, less celebrating genius than demanding why their players can't do something like that.";
    ViewBag.Paragraph2 = "But not this time. This time, they all seemed to get up. Around the Allianz Stadium, Juventus fans rose to their feet and applauded, many for at least one minute. It was as if they didn't have a choice and were compelled against their will to recognise what they had just seen.";
    ViewBag.Paragraph3 = "It was not polite, distracted applause, either. This was full-on, banging-their-hands together, rapturous clapping. It was difficult to tell if any of them shouted 'bravo' or demanded more, but you would not be surprised.";
    ViewBag.Paragraph4 = "Such was the majesty of what Cristiano Ronaldo achieved in the 64th minute of Real Madrid's 3-0 win vs. Juventus in Tuesday's Champions League quarterfinal first leg.";
    ViewBag.Paragraph5 = "Let's start with his thought process. Dani Carvajal's cross from the right was well judged and heading for Lucas Vazquez at the back post. The substitute would, presumably, try to cushion down a header to set up a shooting chance for a colleague. It was the high-percentage play, the sensible move. Basically, it was what most human beings would do.";
    ViewBag.Paragraph6 = "But what's more boring than being sensible? Ronaldo has often shown that something in his head is different; in an odd way, it feeds into his act when he misses a chance. With a pout, he seems to say: 'Putting that over the bar wasn't my fault. How could it be my fault? I am Ronaldo.' It's a sort of super - confidence mixed with total denial.";

}
<html>
<head>
<title>Sports</title>
<link href="~/Content/sports.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <h1 align="center">@ViewBag.Title</h1>
        <h2 align="center">@ViewBag.Subtitle</h2>
        <h3>@ViewBag.Paragraph1</h3>
        <h3>@ViewBag.Paragraph2</h3>
        <h3>@ViewBag.Paragraph3</h3>
        <h4>@ViewBag.Paragraph4</h4>
        <h3>@ViewBag.Paragraph5</h3>
        <h3>@ViewBag.Paragraph6</h3>
    </div>
</body>

</html>



