@{
    ViewBag.Title = "Rain";
}
<head>
   <title></title>
</head>
@Styles.Render("~/Content/PatCustom.css")

<body><h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    <p> Hello, the info on weather @ViewBag.Weather</p>
    <h4>@ViewBag.Alert</h4>
    <p style="font-size: 24px; color: red; font-display:auto">March comes in like a lion and out like a lamb.</p>
    <p>Ding ding ding ding ding ding ding</p>
</body>