@model IEnumerable<Nat20_DND_Dice.Models.DicePack>

@{
    /**/

    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Nat20</title>
    <link href="~/Content/nat20design.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="~/nat20logo.png" class="center-block" height="200" width="175" alt="Logo" />
    <h1 align="center">Nat20 Custom Dungeons & Dragons Dice</h1>

    <div id="container">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Design.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Material.MaterialType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Design.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material.MaterialType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", null, new { @class="edit", id = item.DicePackId }) |
                        @Html.ActionLink("Details", "Details", null, new { @class="details", id = item.DicePackId }) |
                        @Html.ActionLink("Delete", "Delete", null, new { @class="delete", id = item.DicePackId })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>

@section Scripts {
    <script src="~/Scripts/CRUDJquery/crudstuff.js"></script>
}